# mkpm
/lib
/esm

# nodejs
bower_components
build/Release
.cache
.cache/
coverage
dist
.docusaurus
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
jspm_packages/
*.lcov
lerna-debug.log*
lib-cov
.lock-wscript
*.log
logs
.next
node_modules/
.node_repl_history
.npm
npm-debug.log*
.nuxt
.nyc_output
out
.parcel-cache
*.pid
*.pid.lock
pids
.pnp.*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.seed
.serverless/
.stylelintcache
.temp
.tern-port
*.tgz
*.tsbuildinfo
.vscode-test
.vuepress/dist
web_modules/
.yarn/build-state.yml
yarn-debug.log*
yarn-error.log*
.yarn/install-state.gz
.yarn-integrity
.yarn/unplugged
.mkpm/*
**/.mkpm/*
!/.mkpm/.cache.tar.gz
!/.mkpm/.bootstrap.mk
